html,
body {
  min-height: 100%;
  font-family: @text;
  background: #f5f5f5;
}

h1, h2, h3, h4{
  font-family: @title;
  font-weight: bold;
  color: @secoundary_color;
  margin: 0;
  padding: 0;
}

h3{
  font-size: 31px;
}

p{
  font-family: @text;
  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
  color: #222;
}

.marvel-btn{
  background: @marvel_color;
  .app-transition(all, 0.5s, ease-in-out );
  &:hover{
    background: @secoundary_color;
  }
}